/* general */
body {
	font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
	list-style: none;
	margin: 0;
	padding: 0;
}


h1 {
	color: rgb(160, 36, 36);
	text-transform: uppercase;
	font-family: Helvetica;
	font-size: 40px;
}

h2 {
	color: grey;
	text-transform: capitalize;
}

h3 {
	text-transform: capitalize;
}

a {
	text-decoration: none;
	color: white;
}

nav {
	text-transform: capitalize;
}
li a {
	padding: 8px 8px;
}

li a:hover {
  background-color: #555;
  color: white;

}

form {
	margin-bottom: 100px;
}

video {
	width: 70%;
	height: 70%;
	margin-bottom: 100px;
}
/*header*/

header {
	background: rgb(160, 36, 36);
	height: 100%;
	color: white;
	text-align: center;
	border-radius: 25px 25px 0 0;
}
header h2 {
	text-transform: uppercase;
	color: white;

}

header ul {
	margin-left:0;
	padding-left:0;
}

header nav li {
	margin-top: 20px;

}
header nav a {
	font-size: 20px;
}
.contact {
	font-size: 15px;
}

.pictures img {
	width: 50%;
	max-width: 150px;
	height: auto;
	margin-top: 10px;
	border-radius: 150px;
}	

.contact img {
	width: 20px;
}

.contact {
	margin-bottom: 20px;
	padding: 5px;
}
.name h2{
	font-size: 18px;
}
.name h3 {
	font-size: 15px;
}
/*tableau*/

table {
	border-collapse: collapse;
	width: 100%;
}

thead {
	text-transform: uppercase;
}

tbody {
	text-transform: capitalize;
}

table, th, td {
	border: 1px solid black;
	background-color: #605F5E;
	color: white;
}
/*footer*/

footer {	
	background: grey;
	color: white;	
}

footer nav ul{
	padding: 0;
	margin: 50px 30px;
    list-style-type: none;
}
footer nav ul li {
	display: inline;
	padding: 8px;
	text-align: center;
}
footer img {
	width: 80%;
	height: auto;

}
*contact*/

input[type=email] {
	width: 100%;
	padding: 8px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}

input[type=text] {
	width: 100%;
	padding: 8px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}
input[type=email] {
	width: 100%;
	padding: 8px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}

textarea {
	width: 100%;
	height: 150px;
	padding: 8px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}
form p {
	text-transform: capitalize;
}
select {
	width: 100%;
  	padding: 8px 20px;
}

input {
	margin-bottom: 30px;
}

input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 8px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
	font-size: 20px;
	text-transform: capitalize;
}

